<!DOCTYPE html>  
<html>
		<font color = F3F3F3>
		<div class="text-field">
		  &nbsp; <%= form.label :email %><br>
		  &nbsp; <%= form.text_field :email, type: 'email' %>
		</div>

		<div class="password-field">
		  &nbsp; <%= form.label :password %><br>
		  &nbsp; <%= form.password_field :password %>
		</div>
		</font>

</html>